# Xcode files
.DS_Store
*.xcuserdata
*.xcuserstate
*.xccheckout
*.xcodeproj/*/xcuserdata
*.xcodeproj/*/project.xcworkspace/xcuserdata

# Build products
DerivedData/
build/
*.app
*.ipa
*.dSYM
*.xcarchive

# CocoaPods
Pods/

# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
